{% extends "base.html" %}
{% block body %}

<!-- navbar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="/"><strong>FACE RECOGNITION</strong></a>
    </div>
</nav>
<!-- Upload Images -->
<div class="container-fluid">
    <form class="d-flex justify-content-end" action="/update">
        <button class="btn btn-outline-info" type="submit">Upload Picture</button>
    </form>
</div>
<br>
<br>
<!-- alert -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
</svg>
<div style="{{alert}}">
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" /></svg>
        <div>
            Image Upload Success!!
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>


<!-- Prediction Upload -->
<div class="container">
    <form action="/image" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <input type="file" class="form-control" id="image" name="image" placeholder="Upload an Image"
                aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-secondary" type="Sumbit" id="inputGroupFileAddon04">Upload</button>
        </div>
    </form>
</div>
<br>
<br>

<!-- Display Image -->
<div class="container">
    <p class="text-center"><img src="{{image.img}}" class="img-fluid" alt="output image" style="{{style}}" width="600"
            height="600"></p>
</div>


{% endblock %}